input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #a31616;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #000;
}

.form-container {
  display: grid;
  height: 500px;
}

.rsvp-form {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

.side-info {
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.rsvp-header {
  border-bottom: 1px solid #FFF
}

#rsvp {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .rsvp-form {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .side-info {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .form-container {
    height: 600px;
  }

  #rsvp {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}