.float-container {
  border: solid 1px #ccc;
  position: relative;
  padding: 0 8px;
}

.float-container input {
  border: none;
  outline: 0;
  font-size: 16px;
  padding: 16px 0 10px;
}

::placeholder {
  color: rgb(40, 39, 39);
}

textarea {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

label {
  position: absolute;
  color: rgb(40, 39, 39);
  transform: translate(0, 8px) scale(0.75);
  padding-bottom: 3px;
}

input[type='text'],
select {
  width: 100%;
  padding: 20px 20px 4px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3.3rem;
}

input[type='submit'] {
  width: 100%;
  background-color: var(--main-red);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #000;
}

.email-error {
  color: var(--main-red);
  font-size: 1.3rem;
}

.form-container {
  display: grid;
  height: 500px;
  grid-gap: 50px;
}

.rsvp-form {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 500px;
}

.side-info {
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 4;
}

.rsvp-header {
  border-bottom: 1px solid #fff;
}

#rsvp {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}

.sub-text {
  color: rgb(164, 164, 164);
}

@media only screen and (max-width: 800px) {
  .rsvp-form {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
  }

  .side-info {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .form-container {
    height: 600px;
  }

  #rsvp {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
  }
}
