body {
  margin: 0;
  font-family: 'Lato', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(22, 22, 22);
  color: #fff;
  font-size: 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#gallery {
  margin: 2rem 2rem 2rem 2rem;
  overflow: hidden;
}

:root {
  --main-red: #a71717;
  --background-gradient: linear-gradient(rgb(0,0,0,0), rgba(74, 73, 73, 0.8));
}